html {
  scroll-behavior: smooth;
  font-family: "source-han-serif-japanese", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 auto 0 auto;
  background-color: #F2E7D0;
}

h1 {
  font-size: 32px;
  color: #333333;
}

h2 {
  font-size: 28px;
  color: #333333;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.6;
  color: #333333;
}

h4 {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}

p {
  font-size: 12px;
  line-height: 1.6;
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #7F4F2A;
  color: #D4D4D4;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
}

.logo-header {
  display: flex;
}

.logo-text {
  margin-top: 5px;
  color: #D4D4D4;
}

.shop-logo-header {
  display: block;
}

.nav-pc ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding-top: 25px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .nav-pc ul {
    display: none;
  }
}

#nav-sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-sp-header {
    display: flex;
    background-color: #7F4F2A;
  }
  #close {
    padding-left: 10%;
  }
  #nav-sp {
    background-color: #7F4F2A;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: none;
    z-index: 99;
  }
  #nav-sp > nav > ul > li {
    padding: 20px 35.6% 20px 7.1%;
    font-size: 24px;
    border-top-width: 1px;
    border-top-color: #F2E7D0;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #F2E7D0;
    border-bottom-style: solid;
  }
  #nav-sp > nav > ul > li > a {
    color: #D4D4D4;
  }
  #nav-sp > nav > ul > li a:hover {
    text-decoration: underline;
  }
  .menu-sp {
    color: #333333;
    font-size: 24px;
  }
}
#bt-hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  #bt-hamburger {
    display: block;
    padding-top: 10px;
  }
}

.top-section {
  position: relative;
  padding-left: 15.7%;
  padding-right: 15.7%;
}
@media screen and (max-width: 768px) {
  .top-section {
    padding-top: 53px;
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.title {
  position: absolute;
  top: 500px;
  left: 355px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 16px;
    top: 200px;
    left: 355px;
  }
}

.top-photo {
  display: block;
  width: 100%;
  height: auto;
}

.blog-section {
  background-color: #CDEDE4;
  margin-top: 115px;
  margin-left: 15.7%;
  margin-right: 15.7%;
  padding: 20px 1.5%;
  margin-left: 4.7%;
  margin-right: 4.7%;
}

.top-article-elements {
  display: flex;
  -moz-column-gap: 7%;
       column-gap: 7%;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .top-article-elements {
    display: block;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}

.separation-line {
  width: 100%;
}

.top-article {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .top-article {
    margin-top: 50px;
    margin-left: 10%;
  }
}

.date-and-category {
  display: flex;
}

.category-name {
  background-color: #DD7600;
  color: #D4D4D4;
  padding: 5px;
  margin-left: 20px;
}

.article-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bt-more-blog {
  text-align: center;
}
.bt-more-blog > button {
  background-color: #9B1B30;
  color: #D4D4D4;
  padding: 20px 35px;
  border-radius: 10px;
  margin: 50px auto;
}

#service-section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15.7%;
  padding-right: 15.7%;
}
@media screen and (max-width: 768px) {
  #service-section {
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.service-elements {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .service-elements {
    display: block;
  }
}

.service-elements-01 {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .service-elements-01 {
    width: 100%;
  }
}

.service-elements-02 {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .service-elements-02 {
    width: 100%;
    margin-top: 50px;
  }
}

.service-photo {
  width: 100%;
  height: auto;
}

.service-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bt-more-service {
  width: 100%;
  background-color: #9B1B30;
  color: #D4D4D4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 35px;
}

.contact-section {
  position: relative;
  padding-left: 15.7%;
  padding-right: 15.7%;
}
@media screen and (max-width: 768px) {
  .contact-section {
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}
.contact-section > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact-photo {
    display: none;
  }
}

.contact-photo-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .contact-photo-sp {
    display: block;
  }
}

.bt-more-contact {
  position: absolute;
  top: 350px;
  left: 43%;
  background-color: #9B1B30;
  color: #D4D4D4;
  border-radius: 10px;
  padding: 20px 35px;
}
@media screen and (max-width: 768px) {
  .bt-more-contact {
    top: 250px;
    left: 23%;
  }
}

.message-section {
  padding-top: 100px;
  padding-left: 15.7%;
  padding-right: 15.7%;
}
@media screen and (max-width: 768px) {
  .message-section {
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.message-and-video {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media screen and (max-width: 768px) {
  .message-and-video {
    display: block;
  }
}

.message-element {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .message-element {
    width: 100%;
  }
}

.video-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .video-element {
    width: 100%;
    margin-top: 50px;
  }
}
.video-element > video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.name-title {
  margin-top: 35px;
  margin-bottom: 35px;
}

.about-section {
  padding: 100px 15.7%;
}
@media screen and (max-width: 768px) {
  .about-section {
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

#company-table {
  width: 100%;
  margin-top: 50px;
}

.tableheader {
  border-bottom-color: rgba(51, 51, 51, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 100px;
}
@media screen and (max-width: 768px) {
  .tableheader {
    padding-right: 50px;
  }
}

.cell {
  border-bottom-color: rgba(51, 51, 51, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bt-more-about {
  display: block;
  margin: 50px auto;
  background-color: #9B1B30;
  color: #D4D4D4;
  border-radius: 10px;
  padding: 20px 35px;
}

footer {
  background-color: #0C295C;
  color: #ffffff;
}

.footer-elements {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .footer-elements {
    display: block;
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.footer-text {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-left, .footer-center {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .footer-left, .footer-center {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer-right {
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.nav-list {
  margin-bottom: 50px;
}

.arrow {
  margin-left: 20px;
}

.banner-elements {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .banner-elements {
    padding-left: 5%;
  }
}

.fb-page {
  margin-top: 25px;
  width: 300px;
}

#copyright {
  color: #ffffff;
  text-align: center;
  padding-bottom: 50px;
}

.first-section, .second-section, .third-section, .fourth-section, .fifth-section {
  padding-left: 15.7%;
  padding-right: 15.7%;
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .first-section, .second-section, .third-section, .fourth-section, .fifth-section {
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

@media screen and (max-width: 768px) {
  .first-section {
    padding-top: 65px;
  }
}

.big-title {
  margin-top: 50px;
}

.small-title {
  margin-top: 20px;
}

.first-article-elements, .second-article-elements {
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
@media screen and (max-width: 768px) {
  .first-article-elements, .second-article-elements {
    display: block;
  }
}

.about-service {
  background-color: #CDEDE4;
  border-radius: 10px;
  padding: 35px;
  margin-top: 35px;
  margin-bottom: 100px;
}

.about-service-text {
  text-align: center;
}

.photo-and-explanation {
  display: flex;
  padding-top: 35px;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .photo-and-explanation {
    display: block;
  }
}
.photo-and-explanation > img {
  height: 100px;
  margin-right: 65px;
}
@media screen and (max-width: 768px) {
  .photo-and-explanation > img {
    height: 150px;
    margin-left: 20%;
    margin-bottom: 35px;
  }
}

.flow-photo {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .flow-photo {
    display: none;
  }
}

.flow-photo-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .flow-photo-sp {
    display: block;
    width: 100%;
  }
}

.expert-profile {
  width: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .expert-profile {
    display: none;
  }
}

.expert-profile-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .expert-profile-sp {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
}

.senior-worries {
  width: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .senior-worries {
    display: none;
  }
}

.senior-worries-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .senior-worries-sp {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
}

.counseling-service {
  display: flex;
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .counseling-service {
    display: block;
  }
}

.counseling-elements > img {
  width: 100%;
}

.bt-more-senior-life {
  display: block;
  text-align: center;
  background-color: #9B1B30;
  color: #D4D4D4;
  border-radius: 10px;
  padding: 20px 35px;
  margin: 35px auto;
}

.counseling-photo {
  width: 100%;
  margin-top: 50px;
}

.worries-elements {
  width: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .worries-elements {
    display: none;
  }
}

.worries-elements-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .worries-elements-sp {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
}

.nationwide-support {
  display: flex;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .nationwide-support {
    display: block;
  }
}

.nationwide-support-left {
  width: 50%;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .nationwide-support-left {
    width: 100%;
  }
}

.nationwide-support-right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .nationwide-support-right {
    width: 100%;
    margin-top: 35px;
  }
}

.for-free-01 {
  background-color: #CDEDE4;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .for-free-01 {
    padding: 30px;
  }
}

.expert-profile {
  -moz-column-gap: 10%;
       column-gap: 10%;
}

.recommend-expert-sp {
  margin-top: 50px;
  margin-left: 25%;
}

.for-free-02 {
  background-color: #D4E8C4;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
}

.for-free-03 {
  background-color: #FBC79A;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
}

.care-taxi-top-section {
  padding-top: 70px;
}

.care-taxi-top {
  width: 100%;
}

.features-elements {
  display: flex;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  .features-elements {
    display: block;
  }
}

.features-text {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .features-text {
    width: 100%;
  }
}

.features-info {
  margin-top: 35px;
  margin-bottom: 35px;
}

.features-photo-01 {
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .features-photo-01 {
    display: none;
  }
}

.features-photo-01-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .features-photo-01-sp {
    display: block;
    width: 100%;
  }
}

.features-photo-02 {
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .features-photo-02 {
    display: none;
  }
}

.features-photo-02-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .features-photo-02-sp {
    display: block;
    width: 100%;
  }
}

.bt-more-care-taxi {
  display: block;
  text-align: center;
  background-color: #9B1B30;
  color: #D4D4D4;
  border-radius: 10px;
  padding: 20px 35px;
  margin: 35px auto;
}

.support-elements {
  display: flex;
  margin-top: 50px;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
@media screen and (max-width: 768px) {
  .support-elements {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .support-contents > img {
    width: 100%;
    margin-top: 50px;
  }
}

.support-title {
  margin-top: 35px;
  margin-bottom: 20px;
}

.private-emergency {
  margin-top: 50px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .private-emergency {
    display: none;
  }
}

.private-emergency-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .private-emergency-sp {
    display: block;
    margin-top: 50px;
    width: 100%;
  }
}

.care-taxi-photo {
  width: 100%;
  margin-top: 75px;
}

#taxi-table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.taxi-photo-elements {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .taxi-photo-elements {
    display: block;
  }
  .taxi-photo-elements > img {
    width: 100%;
    margin-bottom: 35px;
  }
}

.equipment-elements {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .equipment-elements {
    display: block;
  }
  .equipment-elements > img {
    width: 100%;
    margin-bottom: 35px;
  }
}

.bt-more-price {
  text-align: center;
}
.bt-more-price > button {
  background-color: #9B1B30;
  color: #D4D4D4;
  padding: 20px 35px;
  border-radius: 10px;
  margin: 50px auto;
}

.price-table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.assistance-elements {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .assistance-elements {
    display: block;
  }
}
.assistance-elements > img {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .assistance-elements > img {
    width: 100%;
    margin-bottom: 35px;
  }
}

.bt-more-faq {
  text-align: center;
}
.bt-more-faq > button {
  background-color: #9B1B30;
  color: #D4D4D4;
  padding: 20px 35px;
  border-radius: 10px;
  margin: 50px auto;
}

.faq-photo {
  width: 100%;
  margin-top: 75px;
}
@media screen and (max-width: 768px) {
  .faq-photo {
    display: none;
  }
}

.faq-photo-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .faq-photo-sp {
    display: block;
    width: 100%;
    margin-top: 75px;
  }
}

.photo-and-text {
  display: flex;
  -moz-column-gap: 2%;
       column-gap: 2%;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .photo-and-text {
    display: block;
  }
}

.face-photo {
  display: block;
  width: 40%;
  height: auto;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .face-photo {
    margin-bottom: 35px;
    margin-left: 25%;
  }
}

.text-bold {
  font-weight: bold;
}

.business-are-text {
  margin-top: 50px;
}

.important-text {
  background-color: #CDEDE4;
  border-radius: 10px;
  padding: 20px;
  margin-top: 35px;
}

.contact-span {
  background-color: #9B1B30;
  color: #D4D4D4;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.contact-textbox {
  width: 100%;
  height: 50px;
  border-color: #333333;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-textarea {
  border-color: #333333;
  border-width: 1px;
  border-style: solid;
}/*# sourceMappingURL=style.css.map */